.jcarousel-skin-tango .jcarousel-container {
    margin: 58px 0 0 0;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 640px;
    height: 775px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  710px;
    height: 775px;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 775px;
	width: 320px;
	margin-right:40px;
}


.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-bottom: 44px;
	width: 340px;
}

/*================================>> My Classes <<========================================*/
.carousel{ margin-bottom:32px;}
.carousel div{width: 150px;}
.carousel figure{ padding-top:4px;}
.carousel .price{font-size: 20px; line-height: 24px; color:#75461b; margin: 10px 0}

/**
 *  horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url(../images/next.png) no-repeat;
	right:-71px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(../images/prev.png) no-repeat;
	right:-45px;
}
.jcarousel-next-horizontal,.jcarousel-prev-horizontal{
	position: absolute;
    top: -52px;
	width: 27px;
    height: 27px;
    cursor: pointer;
	}
.jcarousel-next-horizontal:hover, .jcarousel-prev-horizontal:hover{ background-position: 0 -27px;}
